.container {
	display: grid; 
	grid-template-columns: 8fr 4fr; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	  "left right"; 
  }
  .left { grid-area: left; }
  .right { grid-area: right; }



@media only screen and (max-width:1030px) {
	.container {
		grid-template-areas: 
		"left left";
	}
	.right {
		display: none;
	}
}