@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	font-family: 'Poppins', sans-serif;
}


.promoBG{
	background: hsla(0, 61%, 52%, 1);

background: linear-gradient(90deg, hsla(0, 61%, 52%, 1) 0%, hsla(356, 82%, 51%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 61%, 52%, 1) 0%, hsla(356, 82%, 51%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 61%, 52%, 1) 0%, hsla(356, 82%, 51%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CF3939", endColorstr="#E91D2B", GradientType=1 );
}

.lightBorder{
	border: 1px solid #707070;
}


.backdrop{
	position: fixed;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  z-index: 1000;
	  background: rgba(0,0,0,.8823529411764706);
	  /* justify-content: center;
	  
	  display:flex;
  
	  align-items: center; */
	  overflow-y: visible;
  }



  .modal {
	margin: 40px auto;
	overflow-x: hidden;
	
	width:fit-content;
	transition: width 2s, height 4s;
  }
  
  
  
  
  .modal::-webkit-scrollbar {
	width: 1px;
  }
  
  /* Track */
  .modal::-webkit-scrollbar-track {
	background: transparent; 
  }
   
  /* Handle */
  .modal::-webkit-scrollbar-thumb {
	background: transparent;
	height:2px;
	width:2px; 
  }
  
  /* Handle on hover */
  .modal::-webkit-scrollbar-thumb:hover {
	background:var(--red); 
  }