

.InputContainer{
	display:flex;
	flex-direction: column;
	margin:10px 0px;
	width:100%;

}

.IconContainer{
	height:20px;
	width:20px;
	margin:10px;
	position:relative;
	

}

.InputField{
	padding: 10px;
	background-color: transparent;
	outline:none;
	border:none;
	border: 0.25px solid #4343437c;
	width:100%;
	margin:15px 0px;


}




.disabled input{
	color:#B4B4B4;
}

.Area{
	width:100%;
	height:350px;
	padding:10px;
	border-radius: 10px;
	margin:10px;
	outline:none;
	border: 1px solid #707070;
}
